body{background-color:blue;}

/* Standard syntax */
@keyframes opacidad {
    0%{opacity: 0;};
    50%{opacity: 0.5;};
    100% {opacity: 1;}
} 

#sandbox{
    font-family: "goudy-bookletter-1911-1", "goudy-bookletter-1911-2", "Bas-kerville", "Georgia", serif;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(33,17,17,0.2);
    overflow:hidden;
    margin:40px 0 0 30px;
    padding: 20px;
    Width: 440px;
    z-index: 2;
    color: rgba(0,0,0,0.6);
    font-size:16px;
    border-radius:15px;
    text-shadow: 0 0 1px #333;
    box-shadow: 0 0 20px #FFF;
    background: linear-gradient(#444444,#999999);
    animation: opacidad 5s;
}

h1{
    margin:0 0 20px 0;
    font-size: 56px;
    word-spacing: 2px;
}

abbr{
    cursor: help;
    font-size: 130%;
    Color: #ff2166;
    border-width: 1px;
    /*border-color: #888;*/
    border-bottom: thin dashed #888;
}

p{
    font-size: 30px;
    line-height: 50px;
    margin: 0;
    width: auto;
}
